body{
    font-family: 'manrope', sans-serif;
    font-size: 1em;
    background-color: #1F2039;
}
a{
    color: #242424;
    text-decoration: none;
}
em{
    color: #A5B4FC;
    font-size: normal;
}
h1{
    font-family: 'montserrat', sans-serif;
    font-size: 3.5em;
    color:#A5B4FC;
}
h2{
    color: #f9f8ff;
}
p,li{
    font-size: 1.1em;
    color: #f9f8ff;;
}
.retour_Accueil{
    color: red;
}
.header, .footer{
   background-color: white;
}
.cta {
    background: linear-gradient(#8e86b5, #acaeed);
    font-family: 'manrope', sans-serif;
    border-radius: 50px;
  }
  a:hover{   
    text-decoration: underline;
  }
  .cta:hover {
    background: linear-gradient(#696484, #8788ba);
    text-decoration: none;
  }
  .carre-liste{
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
  }
  .lien-icone:hover {
    opacity: 0.5;
  }