p{
    color:royalblue;
    font-size: 2em;
    font-style: italic;
}
.ma-classe{
    color:black;
}
.ma-classe2{
    color:red;
    font-weight: 700;
    text-decoration: underline;
}
h1{
    font-family: 'lobster', cursive;
    font-size: 5em;
    text-align: center;
    color: #e4e7f0;
    padding: 150px;
    background: linear-gradient(to right,#000046,#1cb5e0);
}
/* body{
    background-color: #e4e7f0;
} */