p{
    color:royalblue;
    font-size: 2em;
    font-style: italic;
}
.ma-classe{
    color:black;
}
.ma-classe2{
    color:red;
    font-weight: 700;
    text-decoration: underline;
}
h1{
    font-family: 'lobster', cursive;
    font-size: 5em;
    text-align: center;
    text-shadow: 6px 6px 0px #aebbd1;
    /* color: #e4e7f0;
    padding: 150px;
    background: linear-gradient(to right,#000046,#1cb5e0); */
}
body{
    background-color: #e4e7f0;
    font-family: Arial, sans-serif;
    color: #1d313f;
}
.demo-border{
    text-align: center;
    color:black;
    border:2px solid#36696d;
    background-color:  white;
    font-size:5em;
    border-radius: 10px 30px 0px 90p;
    box-shadow: 6px 6px 15px rgb(29, 49, 63);
  }
  a:hover{
    color: deeppink;
    text-decoration: underline;
  }
  a:active{
    text-decoration-color: black;
  }
  a:focus{
    background-color: #1d313f;
    color:white;
    outline-color: deeppink;
  }
