* {
    margin: 0;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1f2039;
  }
  
  a {
    color: #242424;
    text-decoration: none;
  }
/*enlever le style de l'em
  em {
    color: #a5b4fc;
    font-style: normal;
  } */
  
  h1 {
    font-size: 3.5em;
    color: #a5b4fc;
    font-family: 'Montserrat', sans-serif;
  }
  
  h2 {
    color: #f9f8ff;
  }
  
  p,
  li {
    font-size: 1.1em;
    color: #f9f8ff;
  }

  header,
  footer {
    background-color: rgba(255, 255, 255, 0.611);
    padding: 20px 50px;
  }
  footer,
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    margin-left: 30px;
  }
  footer,
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  a:hover {
    text-decoration: underline;
  }
  .lien-icone {
    margin-left: 30px;
  }
  
  .lien-icone:hover {
    opacity: 0.5;
  }

  table {
    color: white;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
  }
  
  td,
  th {
    padding: 80px;
    border: 1px solid #a5b4fc;
  }
  main{
    background-color: white;
  }
  